<% add_breadcrumb_item link_to 'definition', admin_feature_definition_path(object.feature,object)
%>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= DefinitionSubjectAssociation.model_name.human.pluralize.titleize.s %></h6>
  </div>
  <div class="panel-body">
<%=       render :partial => 'admin/definition_subject_associations/list', :locals => { :list => parent_object.definition_subject_associations } %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
