.bundle/
.byebug_history
.DS_Store
.rbenv-gemsets
config/.DS_Store
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/config/*.yml
spec/.DS_Store
spec/dummy/.DS_Store
