<% if !recordings.empty? %>
  <div id="terms-audio-pronunciation-container" class="terms-audio-pronunciation-container">
    <div class="recording-wrapper">

      <div class="recording-controls">
        <div id="recording-play-button" class="recording-play-button">
          <span class="icon shanticon-audio"></span>
        </div>
      </div>
      <div class="recording-list">
      <label class="sr-only" for="selection">Listen to Audio for Term Pronunciations:</label>
      <select id="recording-selection" class="selectpicker">
        <% recordings.each do |recording| %>
          <option value="<%= url_for(recording.audio_file) %>"><%= recording.dialect["header"]%></option>
        <% end %>
      </select>
      </div>

      <div class="terms-audio-player-selector">
        <audio id="recording-player">
          <source id="recording-mp3_src" src="<%= url_for(recordings.first.audio_file)%>" type="audio/mp3">Your browser does not support the audio element.
        </audio>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'terms_engine/recordings' %>
<% end %>
