<% add_breadcrumb_item feature_link(parent_object, section: "definitions") %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= Definition.model_name.human.pluralize.titleize.s %></h6>
  </div>
  <div class="panel-body">
<%=       render :partial => 'admin/definitions/list', :locals => { :list => parent_object.definitions.order('position DESC') } %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
