/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require mandala_terms/shanti-main-terms
 *= require terms_engine/recordings
 */

body.page-terms .content-section {
  padding-left: 0 !important;
}

.titlearea{
  background-color: #3270d6 !important;
}

.fancytree-container .glyphicon{
  color: #3270d6 !important;
  opacity:.9;
}

body.page-terms .main-col {
  max-width: 950px !important;
}

.kmaps .view-section .nav-tabs>li.treeview{
  width: 35%;
  max-width: 120px;
}

.navbar-header .mandala{
  margin-left:7px;
}

@media (min-width: 768px), all{
.page-terms #place > .col-sm-9{
    width:100%;
}
}

.ui-resizable-handle.ui-resizable-w{
  border-color: #3270d6 transparent transparent transparent;
}

.page-terms .input-section a.toggle-link.advanced-link {
  display: inline-block;
  width: 90%;
  padding: 0px 0px 0px 0px;
}

/* fancytree */
.fancytree-title{
    padding-left: 8px;
}

.fancytree-title::before {
 top: 0.65rem;
 width: 8px;
 height: 8px;
}

.fancytree-title:hover::before {
 background: #707070;
 /* box-shadow:none; */
}

.fancytree-active .fancytree-title::before,
.fancytree-selected .fancytree-title::before {
 background: #777;
 /* box-shadow:none; */
}
/* END - fancytree */
