audio{
  width:40px;
}

.recording-play-button {
  width: 3rem;
  height: 3rem;
  background-color: #a2733f;
  border: .3rem double #fff;
  border-radius: 50%;
  color: white;
  margin-right: 1.5rem;
  cursor: pointer;
  text-align: center;
  margin-top: -.15rem;
  opacity:.85;
  -webkit-transform: scale(1.175);
  transform: scale(1.175);
  -webkit-transition: all .3s ease-in-out;
  transition: all .15s ease-in-out;
}
.recording-play-button:hover {
  opacity:1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}
.recording-play-button:focus,
.recording-play-button:active {
  -webkit-transform: scale(1.225);
  transform: scale(1.225);
}
.recording-play-button .icon{
    position: relative;
    top: .15rem;
    right: .05rem;
}
.recording-play-button .icon:before {
  position: relative;
  top: 0.1rem;
  left: .025rem
}

.recording-controls, .recording-list {
  float:left;
}

.terms-audio-pronunciation-container{
  position: relative;
  left: 2rem;
  height: 3.2rem;
  display: inline;
}

.recording-wrapper{
  margin-top: 2rem;
}

.terms-audio-pronunciation-container .terms-audio-player-selector{
  position: absolute;
  top: -0.2rem;
  left: 1.25rem;
  display: inline;
  width: 40px;
}


.bootstrap-select.btn-group .dropdown-menu li > a::before {
    content: '';
    width: 9px;
    height: 9px;
    background: transparent;
    border: 1px solid #444;
    margin-right: 0.6rem;
    display: block;
    position: relative;
    top: 1.1rem;
    right: 1.5rem;
}

.bootstrap-select.btn-group .dropdown-menu li.selected > a::before {
    background-color: #a57546;
    border-color: #a57546;
}

.bootstrap-select.btn-group .dropdown-menu li:hover > a::before,
.bootstrap-select.btn-group .dropdown-menu li.selected:hover > a::before {
    background: #a57546;
    border-color: #a57546;
}

/* following selectors uses the bootstrap-select library - and ".bootstrap-select"
* - class name "selectpicker" is called by javascript library on <select> element. this generates new html leveraging Bootstrap resources
*/
.terms-audio-pronunciation-container .btn-group.bootstrap-select{
  margin-left: 1.5rem;
}

/* Admin - Editorial interface */
.recordings-form-fields input#dialect_name {
    padding-left: 0;
}
.recordings-form-fields .row, #audio_file, .twitter-typeahead {
 margin: 0 0 0.2rem 1rem;
}
.recordings-form-fields .row {
  padding-top: 10px;
}
/* END - Admin - Editorial interface */
