<% if parent?
     add_breadcrumb_item feature_link(parent_object.feature, section: "definitions")
     add_breadcrumb_item link_to(parent_object.content.strip_tags.truncate(25).s, admin_feature_definition_path(parent_object.feature,parent_object))
   end
   add_breadcrumb_item DefinitionRelation.model_name.human.pluralize.s %>
<section class="panel panel-content">
  <div class="panel-heading">
    <h6><%= DefinitionRelation.model_name.human.pluralize.s %></h6>
  </div>
  <div class="panel-body">
    <%= render :partial => 'admin/definition_relations/list', :locals => { list: parent_object.relations } %>
  </div> <!-- END panel-body -->
</section> <!-- END panel -->
