<% index = 1
   count = grouped_definitions.size
   grouped_definitions.each_pair do |source_id, definitions| %>
   <div class="terms-dictionaries-other-node">		 
<%   info_source = InfoSource.find(source_id)
     if !info_source.nil? %>
       <h4><%= "#{index}. " if count>1 %><cite><a href="#"><%=" #{info_source.title}" %></a></cite></h4>
<%   end %>
     <div class="terms-definition-list-wrapper"><!-- BEGIN terms-definitions -->
<%=    render partial: 'standard_definitions', locals: { definitions: definitions, is_child: false, prefix: "in_house-#{source_id}-", def_level: 0 } %>
     </div> <!-- END terms-definition-list-wrapper -->
   </div>
<%   index += 1
   end %>