<div class="terms-standard-definition-node">
  <ul id="terms-standard-def-tabs" class="nav nav-tabs terms-standard-def-tabs" role="tablist">
		<li class="active"><a href="#terms-standard-def" role="tab" data-toggle="tab">Passage</a></li>
	</ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="terms-standard-def">
			<p>content</p>
		</div>
	</div>
</div>