<h4><%= PassageTranslation.model_name.human %> (<%= passage_translation.language.name %>)</h4>
<%= passage_translation.content.html_safe %>
<%= render partial: 'note', collection: passage_translation.notes %>